.drawerTab {
  background-color: #d5fcd7;
  padding: 20px;
  color: #217511;
  margin: 10px auto;
  cursor: pointer;
}

.settings-button-container {
  position: 'absolute';
  top: '20px';
  right: '20px';
}
